<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <%- include('../includes/audio_player.ejs') %>
    <div class="mainContent">
        <h1>Add Song</h1>
        <form action="/profile/post-song" method="POST" enctype="multipart/form-data">
            <input type="text" name="title" id="title">
            <input type="file" name="file" id="file">
            <button type="submit">Submit</button>
        </form>
    </div>

<%- include('../includes/footer.ejs') %>