<div id="sidebar" class="sidebar" style="width:25%;right:0">
    <button id="closeSidebarButton" onclick="toggleSidebar();">x</button>
    <h2 id="audioPlayer_songTitle">Audio Player</h2>
    <img class="sidebar_albumCover" src="https://target.scene7.com/is/image/Target/GUEST_504ee6a9-cdce-40d5-8be1-7f8311b20540?wid=488&hei=488&fmt=pjpeg" alt="!album cover" id="currentImage">
    <div class="sidebar_audio">
        <button class="sidebar_audioButton"><<</button>
        <audio id="currentTrack" src="" controls></audio>
        <button class="sidebar_audioButton">>></button>
    </div>
</div>
<div id="openSidebarButton" style="display: none;">
    <button onclick="toggleSidebar();">+</button>
</div>