<table class="navbar">
    <tr>
        <td class="navbarItem"><a href="/">Home</a></td>
        <td class="navbarItem"><a href="/profile">Profile</a></td>
        <td class="navbarItem"><a href="/profile/create-release">Create</a></td>
    </tr>
</table>